.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 100px;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homepage_container {
  width: 300px;
  height: 200px;
}
.main_header {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid darkred;
  background-color: rgba(139, 0, 0, 0.637);
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
  margin-bottom: 10px;
}
.link_pic {
  position: absolute;
}
